<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../src/Thermostat.js"></script>

    <title> Thermostat </title>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
      <div class="col-md-4">
      </div>

        <div class="col-md-4">

          <section>
            <div class="inline-current-temp"><h1 id="current-temp-text"> Current temperature in : <span id="current-temperature"><span></h1> <h1 id="degree-sign"> ° </h1></div>
            <form id="select-city">
              <input id="current-city" type="text" placeholder="Enter a city"></input>
              <input type="submit"></input>
            </form>
          </section>

          <h1 id="temperature"></h1>

          <h4 id='energyUsage'></h4>

          <h3 id='powerSaveStatus'></h3>

          <button type='button' id='up'>+</button>
          <button type='button' id='down'>-</button>
          <button type='button' id='powerSave'>Toggle powersave</button>
          <button type='button' id='reset'>Reset temperature</button>

        </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../src/interface.js"></script>

    </body>
</html>
