<!DOCTYPE html>
<html>
  <head>
    <title> Thermostat </title>
  </head>

  <body>

    <h1> Current temperature: </h1>
      <h4> Energy Usage: </h4>

      <button type='button' id='up'>Increase temperature</button>
      <button type='button' id='down'>Decrease temperature</button>
      <button type='button' id='powerSave'>Toggle powersave</button>
      <button type='button' id='reset'>Reset temperature</button>
      <button type='button' id='energyUsage'>Energy Usage</button>

      <script src="../src/Thermostat.js"></script>
    </body>
</html>
