<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title> Thermostat </title>
  </head>

  <body>

      <h1 id="temperature"></h1>

      <h4 id='energyUsage'></h4>

      <h3 id='powerSaveStatus'></h3>

      <button type='button' id='up'>Increase temperature</button>
      <button type='button' id='down'>Decrease temperature</button>
      <button type='button' id='powerSave'>Toggle powersave</button>
      <button type='button' id='reset'>Reset temperature</button>

      <script type="text/javascript" src="../src/interface.js"></script>
      <script src="../src/Thermostat.js"></script>
    </body>
</html>
