.low-usage {
  text-align: center;
  background-color: #00B16A;
}

.medium-usage {
  text-align: center;

  background-color: #E9D460;
}

.high-usage {
  text-align: center;

  background-color: #96281B;
}

#current-temp-text {
  font-size: 24px;
}

#degree-sign {
  font-size: 24px;
}

.inline-current-temp #current-temp-text, .inline-current-temp #degree-sign {
  display: inline-block;
  vertical-align: baseline;
}

#current-temperature {
  font-size: 24px;
}
